.container-fluid {

}

.data_list {
    border: 1px solid #E5E5E5;
    padding: 10px;
    background-color: #FDFDFD;
    margin-top: 15px;
}

.data_list .data_list_title {
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 10px;
    padding-top: 5px;
}

.data_list .data_list_title img {
    vertical-align: top;
}

.data_list .diary_datas {
    padding: 5px;
}

.data_list .diary_datas ul {
    list-style-type: none;
}

.data_list .diary_datas ul li {
    margin-top: 15px;
}

.data_list .datas ul li span {
    font-size: 18px;
}

.data_list .data_list_content {
    margin: 10px auto 10px;
}

.data_list .data_list_content > ul {
    list-style: none;
}

.data_list .data_list_content > ul > li {
    margin-bottom: 10px;
}

.data_list .diary_title {
    text-align: center;
}

.data_list .diary_info {
    text-align: center;
    font-weight: bold;
}

.data_list .diary_content {

}

.data_list .diary_content img {
    text-align: center;
}

.data_list .diary_action {
    text-align: center;
}

.data_list .diary_type select {
    height: 30px;
    width: 150px;
    margin: 10px 0;
}

.data_list .diary_type option {
    display: inline-block;
    height: 60px;
    font-size: 15px;
    padding: 10px 0px 10px;
}

.user_content {
    text-align: center;
}

.user_content > img {
    width: 80%;
    margin: 40px auto 10px;
}

.user_content .user_nickName {

}

.user_content .user_mood {

}

.mobile-menu-area {

}

.searchInput {

}

.diayTypeError {
    display: none;
    margin-bottom: 5px;
}
.user-error{
    display: none;
}
.row-mod{
    margin-right: 0px;
    margin-left: 0px;
}

@media screen and (max-width: 992px) {

    .navbar-title {
        display: inline-block;
        color: #9d9d9d;
        font-size: 18px;
        line-height: 20px;
        margin: 20px auto 10px;
    }

    .navbar-form {
        width: auto;
        padding-top: 0;
        padding-bottom: 0;
        margin-right: 0;
        margin-left: 0;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .navbar-form .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }

    .nav > li > a {
        color: #505050;
        margin-right: 0;
        border-radius: 4px;
        margin-bottom: 5px;
        text-align: center;
    }

    .nav > li > a:hover {
        font-weight: bolder;
        color: #337ab7;
        background-color: #F5F5F5;
    }

    .panel-heading {
        height: 45px;
    }

}

